<main>
  <img src="/assets/Title-Image.png" alt="Image movies" class="highligth">

  <div class="container title">
    <div>
      <img src="/assets/Netflix_Symbol_RGB 1.svg" alt="Website logo image">
      <p>SHOW</p>
    </div>

    <h1>MAID</h1>

    <div class="execution">
      <button>
        <img src="/assets/chevron-right.svg" alt="Play image">
        <b>Play</b>
      </button>
      <button>
        <img src="/assets/info.svg" alt="Play image">
        <b>More info</b>
      </button>
    </div>
  </div>
</main>
