/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body{
  background-color: black;
}

button {
  cursor: pointer;
}

.container {
  width: min(90vw, 86rem);
  margin: 0 auto;
}

@media (min-width: 577px) {
  .container {
      width: 540px;
  }
}

@media (min-width: 769px) {
  .container {
      width: 720px;
  }
}

@media (min-width: 993px) {
  .container {
      width: 960px;
  }
}

@media (min-width: 1201px) {
  .container {
      width: 1140px;
  }
}

@media (min-width: 1341px) {
  .container {
      width: 1200px;
  }
}
